/*
 * Copyright (c) 2025 Maxjta
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <artery/at32f435_437/at32f435zmt7.dtsi>
#include "at_start_f435-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "AT AT-START-F435 board";
	compatible = "artery,at_start_f435";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds: leds {
		compatible = "gpio-leds";
		red_led: led2 {
			gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
			label = "User LED2";
		};
		yellow_led: led3 {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "User LED3";
		};
		green_led: led4 {
			gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
			label = "User LED4";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &red_led;
		led1 = &yellow_led;
		led2 = &green_led;
		sw0 = &user_button;
	};
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&clk_hick {
	status = "okay";
};

&clk_hext {
	clock-frequency = <8000000>;
	status = "okay";
};

&pll {
	div-ms = <1>;
	mul-ns = <144>;
	div-fp = <2>;
	div-fu = <11>;
	clocks = <&clk_hext>;
	status = "okay";
};

&sysclk {
	clock-frequency = <DT_FREQ_M(288)>;
	status = "okay";
};

&crm {
	clocks = <&pll>;
	ahb-prescaler = <1>;
	clock-frequency = <288000000>;
	apb1-prescaler = <2>;
	apb2-prescaler = <2>;
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&otgfs_default>;
	pinctrl-names = "default";
	status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_default>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	dmas = <&dma1 1 10 1 0>, <&dma1 2 11 2 0>;
	dma-names = "rx", "tx";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
};

&timer2 {
	status = "okay";
	artery,prescaler = <9999>;
	
	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&pwm1_default>;
		pinctrl-names = "default";
	};
};

&dma1 {
	status = "okay";
};

&adc1 {
	pinctrl-0 = <&adc1_default>;
	pinctrl-names = "default";
	artery,adc-clock-source = "SYNC";
	artery,adc-prescaler = <15>;
	status = "okay";
	dmas = <&dma1 3 5 (AT32_DMA_PERIPH_TO_MEMORY|AT32_DMA_NO_PERIPH_ADDR_INC| 
	                  AT32_DMA_MEMORY_ADDR_INC|AT32_DMA_PERIPH_WIDTH_16BIT|
					  AT32_DMA_MEMORY_WIDTH_16BIT|AT32_DMA_PRIORITY_HIGH) 0>;
	dma-names = "rx";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 64KB for bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
			read-only;
		};

		/* storage: 64KB for settings */
		storage_partition: partition@10000 {
			label = "storage";
			reg = <0x00010000 DT_SIZE_K(64)>;
		};

		/* application image slot: 1920KB */
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 DT_SIZE_K(1920)>;
		};

		/* backup slot: 1984KB */
		slot1_partition: partition@200000 {
			label = "image-1";
			reg = <0x00030000 DT_SIZE_K(1984)>;
		};
	};
};
