# Copyright (c) 2022 Tokita, Hiroshi <tokita.hiroshi@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config DMA_AT32
	bool "AT32 DMA driver"
	default y
	depends on DT_HAS_ARTERY_AT32_DMA_ENABLED || DT_HAS_ARTERY_AT32_DMA_V1_ENABLED
	select USE_AT32_DMA
	help
	  DMA driver for AT32 series MCUs.
