# Copyright (c) 2021 BrainCo Inc.
# SPDX-License-Identifier: Apache-2.0

config I2C_AT32
	bool "AT32 I2C driver"
	default y
	depends on DT_HAS_ARTERY_AT32_I2C_V1_ENABLED || DT_HAS_ARTERY_AT32_I2C_V2_ENABLED || DT_HAS_ARTERY_AT32_I2C_ENABLED
	select PINCTRL
	select USE_AT32_I2C
	help
	  Enable I2C support on the AT32 SoCs

config I2C_AT32_INTERRUPT
	bool "AT32 MCU I2C Interrupt Support"
	depends on I2C_AT32
	default y
	help
	  Enable Interrupt support for the I2C Driver

config I2C_AT32_V2_TIMING
	bool "compute the I2C V2 bus timing"
	depends on I2C_AT32
	help
	  Enable AT32 driver bus to calculate the Timing.

